[Unit]
Description=OpenStack Teleport Reconciler
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/openstack-teleport-reconciler/bin/mustelinet-reconciler --config /etc/openstack-teleport-reconciler/config.yaml
Restart=always
RestartSec=5
User=openstack-teleport-reconciler
Group=openstack-teleport-reconciler

[Install]
WantedBy=multi-user.target
